
/frontend/node_modules/

/frontend/build/
/frontend/dist/

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

*.class

*.log

/target/

.mvn/wrapper/maven-wrapper.jar
/.idea/
/*.iml
/.classpath
/.project
/.settings/

.vscode/


.DS_Store
Thumbs.db

application-dev.properties